<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
  </head>
  <body>
       <header>
        <nav>
        <ul>
            <li><a href="/homepage">Go Back to the Home Page</a></li>
        </ul>
    </nav>
    </header>
    {{{body}}}
  </body>
</html>