<h1>Create Job</h1>

<form action="/jobs" method="POST">
  <label class="form-label" for="title">Title:</label>
  <input class="form-control" type="text" id="title" name="title" required />

  <label class="form-label" for="company">Company:</label>
  <input class="form-control" type="text" id="company" name="company" required />

  <label class="form-label" for="website">Website:</label>
  <input class="form-control" type="text" id="website" name="website" required />

  <label class="form-label" for="tags">Tags:</label>
  <input class="form-control" type="text" id="tags" name="tags" required />

  <label class="form-label" for="jobDescription">Job Description:</label>
  <textarea id="jobDescription" name="jobDescription" required></textarea>

  <input
    type="hidden"
    id="recruiterId"
    name="recruiterId"
    value="{{recruiterId}}"
  />

  <input class="form-control" class="btn btn-success" type="submit" value="Create Job" />
</form>