<h1>Job Create</h1>

<form action="/jobCreate" method="POST">
  <label for="titleInput">Title:</label>
  <input type="text" id="titleInput" name="titleInput" required />

  <br>
  <label for="companyInput">Company:</label>
  <input type="text" id="companyInput" name="companyInput" required />

  <br>
  <label for="websiteInput">URL:</label>
  <input type="text" id="websiteInput" name="websiteInput" required />

  
  <br>
  <label for="tagsInput">Tags:</label>
  <input type="text" id="tagsInput" name="tagsInput" required />

  <input type="submit" value="Create" /> 



</form>