<div>
  <p>Hello 👋, {{firstName}} {{lastName}}!</p>
  <form action="/logout" method="POST">
    <button class="bt" type="submit">Logout</button>
  </form>
</div>
<div>
  <a href=""><button>Create Job</button></a>
</div>
<div>
  <h2>Job Listings</h2>
  {{!-- <ul>
        {{#each jobs}}
          <li>{{title}} - {{this.company}}</li>
        {{/each}}
      </ul> --}}
</div>