<h1>Welcome to My Web Application</h1>

<button onclick="location.href='/user/register'">User Register</button>
<button onclick="location.href='/recruiter/register'">Recruiter Register</button>
<button onclick="location.href='/login'">Login</button>