<div>
  <h1>Job Spotlight</h1>

  <br />

  <button
    class="btn btn-success"
    onclick="location.href='/registerStudents'"
  >Applicant Register</button>
  <button
    class="btn btn-warning"
    onclick="location.href='/registerRecruiters'"
  >Recruiter Register</button>
  <button
    class="btn btn-primary"
    onclick="location.href='/login'"
  >Login</button>
</div>