<div>
<h1>Welcome to My Web Application</h1>

<br>

<button class="btn btn-success"  onclick="location.href='/user/register'">User Register</button>
<button class="btn btn-warning"  onclick="location.href='/recruiter/register'">Recruiter Register</button>
<button class="btn btn-primary"  onclick="location.href='/login'">Login</button>
</div>
