<div>
  <h1>Job Spotlight</h1>

  <br />
  <br />

  <div class="container border-top border-bottom p-2">
    <p class="">Are you a new job seeker? Register here:</p>
    <button
      class="btn btn-success mb-3"
      onclick="location.href='/registerStudents'"
    >Applicant Register</button>
  </div>

  <br />
  <br />

  <div class="container border-top border-bottom p-2">
    <p class="">Are you a new recruiter? Register here:</p>
    <button
      class="btn btn-info mb-3"
      onclick="location.href='/registerRecruiters'"
    >Recruiter Register</button>
  </div>

  <br />
  <br />

  <div class="container border-top border-bottom p-2">
    <p class="">Already have an account? Login here:</p>
    <button
      class="btn btn-primary mb-3"
      onclick="location.href='/login'"
    >Login</button>
  </div>

</div>