<h1>Login</h1>

<form action="/login" method="POST">
  <label for="emailAddressInput">Username:</label>
  <input type="text" id="emailAddressInput" name="emailAddressInput" required />

  <label for="passwordInput">Password:</label>
  <input type="password" id="passwordInput" name="passwordInput" required />

  <input type="submit" value="Submit" />

<p>Don't have a login yet?</p>
<br><a href="/registerRecruiters">Register as a Recruiter</a>
<br><a href="/registerStudents">Register as a Job Applicant</a>

</form>