<h1>Recruiters' Registration</h1>

<form action="/register" method="POST">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" required />

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" required />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="company">Company:</label>
  <input type="text" id="company" name="company" required />

  {{! <input type="submit" value="Register" /> }}
  <button class="btn btn-primary"  onclick="location.href='/login'">Login</button>
</form>