<h1>Recruiters' Registration</h1>
<br>
<form action="/register" method="POST">
  <div class="mb-3">
    <label class="form-label" for="firstName">First Name:</label>
    <input class="form-control" type="text" id="firstName" name="firstName" required />
  </div>
  
  <div class="mb-3">
    <label class="form-label" for="lastName">Last Name:</label>
    <input class="form-control" type="text" id="lastName" name="lastName" required />
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">Email:</label>
    <input class="form-control" type="email" id="email" name="email" required />
  </div>
  
  <div class="mb-3">
    <label class="form-label" for="company">Company:</label>
    <input class="form-control" type="text" id="company" name="company" required />
  </div>

  <label for="jobListings">Job Listings:</label>
  <textarea id="jobListings" name="jobListings" required></textarea>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required />

  <input class="btn btn-success" type="submit" value="Register" />
  <button
    class="btn btn-primary"
    onclick="location.href='/login'"
  >Login</button>
</form>