<h1>Recruiters' Registration</h1>
<br>
<form action="/register" method="POST">
  <div class="mb-3">
    <label class="form-label" for="firstName">First Name:</label>
    <input class="form-control" type="text" id="firstName" name="firstName" required />
  </div>
  
  <div class="mb-3">
    <label class="form-label" for="lastName">Last Name:</label>
    <input class="form-control" type="text" id="lastName" name="lastName" required />
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">Email:</label>
    <input class="form-control" type="email" id="email" name="email" required />
  </div>
  
  <div class="mb-3">
    <label class="form-label" for="company">Company:</label>
    <input class="form-control" type="text" id="company" name="company" required />
  </div>

  <div class="mb-3">
    <label for="jobListings">Job Listings:</label>
    <textarea class="form-control" id="jobListings" name="jobListings" required></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label" for="password">Password:</label>
    <input class="form-control" type="password" id="password" name="password" required />
  </div>

  <div class="mb-3">
    <label class="form-label" for="confirmPassword">Confirm Password:</label>
    <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required />
  </div>

  <button class="btn btn-success mb-5" type="submit" value="Register">Register</button>

  <div class="mb-3">
    <p>Already have an account? Click on Login button</p>
    <button class="btn btn-primary" onclick="location.href='/login'">Login</button>
  </div>
</form>
<br>
<br>
<br>
<br>