<h1>Job Seeker Registration</h1>

<form action="/registerStudents" method="POST">
  <label for="firstNameInput">First Name:</label>
  <input type="text" id="firstNameInput" name="firstNameInput" required />

  <label for="lastNameInput">Last Name:</label>
  <input type="text" id="lastNameInput" name="lastNameInput" required />

  <br />
  <label for="emailAddressInput">Email:</label>
  <input
    type="email"
    id="emailAddressInput"
    name="emailAddressInput"
    required
  />

  <label for="ageInput">Age:</label>
  <input type="number" id="ageInput" name="ageInput" required />

  <label for="stateInput">State:</label>
  <input type="text" id="stateInput" name="stateInput" required />

  <label for="gradYearInput">Graduation Year:</label>
  <input type="number" id="gradYearInput" name="gradYearInput" required />

  <br />
  <label for="passwordInput">Password:</label>
  <input type="password" name="passwordInput" value="" id="passwordInput" />
  <br />
  <label for="passwordInput">Confirm Password:</label>
  <input
    type="password"
    name="confirmPasswordInput"
    value=""
    id="confirmPasswordInput"
  />

  <div class="mb-3">
    <label class="form-label" for="resume">Resume:</label>
    <input
      class="form-control"
      type="file"
      id="resume"
      name="resume"
      accept=".pdf"
    />
  </div>

  <input type="submit" value="Register" />

  <br />
  <a href="/login">Already have an account? Click here to login</a>
</form>