{{!-- <h1>Student's Registration</h1>

<form action="/register" method="POST">
  <label class="form-label" for="firstName">First Name:</label>
  <input class="form-control" type="text" id="firstName" name="firstName" required />

  <label class="form-label" for="lastName">Last Name:</label>
  <input class="form-control" type="text" id="lastName" name="lastName" required />

  <label class="form-label" for="email">Email:</label>
  <input class="form-control" type="email" id="email" name="email" required />

  <label class="form-label" for="company">Company:</label>
  <input class="form-control" type="text" id="company" name="company" required />

  {{! <input class="form-control" type="submit" value="Register" /> }}
  <button class="btn" onclick="location.href='/login'">Login</button>
</form> --}}