
<body>
    <h1>Upload Your Resume</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="resume">
        <button type="submit">Upload</button>
    </form>
</body>

