
<h1>Resume</h1>
<div>
  <p>Applicant name: {{applicant.firstName}} {{applicant.lastName}}</p>
  <p>Resume:</p>
  <embed src="{{resumeURL}}" type="application/pdf" width="100%" height="600px">
</div>
